.stopwatchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.stopwatch {
  margin: 0;
}

/* .buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
} */