@keyframes slideUp {

  0%,
  5% {
    transform: translateY(100%);
    opacity: 0;
  }

  10%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {

  0%,
  5% {
    transform: translateY(0);
    opacity: 1;
  }

  10%,
  100% {
    transform: translateY(100%);
    display: none;
  }
}


.alertContainer {
  position: fixed;
  bottom: 0;
  margin: 10px auto;
  font-size: 13pt;
  min-width: 50%;
  padding: 10px;
  animation-name: slideUp;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.alertMessage {
  font-size: 10pt;
}

.alertTitle {
  font-weight: bold;
}

.alertContent {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hidden {
  animation-name: slideOut;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.success {
  background-color: #21952d;
}

.error {
  background-color: #d32f2f;
}

.info {
  background-color: #2f6bd3;
}

.warning {
  background-color: #d38f2f;
}