.info {
  text-align: center;
}

.roundsText {
  text-align: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 15pt;
  box-sizing: border-box;
}

.infoContainer>div {
  border: 1px solid white;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.historyCnotainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  border: 2px solide white;
  min-height: fit-content;
}